.App{
    background-color: rgb(230, 228, 228);
    margin-top: 40px;
    padding: 40px;
    justify-self: center;
    width: 50%;
   
    border-radius: 20px;
    box-shadow: 4px 8px 12px rgb(0,0,0,0.4);
 

    
}
.App h2{
    font-size: 35px;
    text-align: center;
    border-bottom:1px solid #000000 ;
    
}
.inputText{

    border: none;
    border-bottom: 1px solid #000000;
    box-shadow:2px 4px 6px rgb(0,0,0,0.4) ;
    border-radius: 10px;
    width: 75%;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    padding: 20px;
}
.App ul li{
    padding: 10px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    width: 350px;
    overflow-wrap:break-word ;    
}
.App ul li:hover{
cursor: pointer;   
color: brown;
background-color: rgb(141, 147, 147);
border-radius: 20px;
}
.addBtn{
  
    width: 25%;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 50px;
    margin-left: 25px;
}
.addBtn:hover{
    cursor: pointer;
    color: white;
    background-color: #000000;
}
.controls{

   display: flex;
   
}
.done{
text-decoration: line-through;
}
.list-item{
    padding-left: 50px;
    display: flex;
}
.list-item span{
    padding: 10px;
    align-self: center;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgb(0,0,0,0.4);
}
.list-item span:hover{
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: rgb(249, 42, 42);
    transform: translateY(-5px);
}